body {
    background-color: #52497b; /* Dark blue background */
}

.circle {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.centre {
    width: 10px;
    height: 10px;
    border: 20px solid white; /* White border */
    border-color: transparent #2980b9 transparent #2980b9;
    border-radius: 50%;
    -webkit-animation: spinner-rotate 0.3s 0s linear infinite;
    -moz-animation: spinner-rotate 0.3s 0s linear infinite;
}

.inner {
    border: 80px solid white; /* White border */
    border-color: #34495e transparent #34495e transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-animation: spinner-rotate 10s 0s linear infinite;
    -moz-animation: spinner-rotate 10s 0s linear infinite;
}

.middle {
    border: 5px solid white; /* White border */
    border-color: transparent #e67e22 #e67e22 #e67e22;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-animation: spinner-rotate 5s 0s linear infinite;
    -moz-animation: spinner-rotate 5s 0s linear infinite;
}

.outer {
    border: 20px solid white; /* White border */
    border-color: transparent #7f8c8d transparent #7f8c8d;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -webkit-animation: spinner-rotate 3s 0s linear infinite;
    -moz-animation: spinner-rotate 3s 0s linear infinite;
}
.text {
    position: absolute;
    bottom: 150px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    text-align: center;
}


@-webkit-keyframes spinner-rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@-moz-keyframes spinner-rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
